In [1]:
import os
os.getcwd()
os.chdir("H:\pyspark_advanced-coding_interview")
os.getcwd()

'H:\\pyspark_advanced-coding_interview'

# Dynamically Pass Values to IN clause | Parametrize Values | String_Split

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit

# Initialize Spark Session
spark = SparkSession.builder.appName("DynamicINClause").getOrCreate()

# Sample Data: Data with 10 columns and 15 rows
data = [
    (1, "Alice", "HR", 5000, "USA", "2024-10-01", "Manager", "A", 5, "Active"),
    (2, "Bob", "Finance", 6000, "Canada", "2024-10-03", "Analyst", "B", 3, "Active"),
    (3, "Charlie", "IT", 7000, "UK", "2024-10-05", "Developer", "A", 7, "Inactive"),
    (4, "David", "HR", 5500, "USA", "2024-10-07", "Recruiter", "B", 2, "Active"),
    (5, "Eva", "Marketing", 6500, "Germany", "2024-10-09", "Executive", "A", 4, "Inactive"),
    (6, "Frank", "IT", 8000, "France", "2024-10-11", "Developer", "A", 6, "Active"),
    (7, "Grace", "Finance", 7500, "USA", "2024-10-13", "Analyst", "B", 5, "Inactive"),
    (8, "Henry", "IT", 7200, "India", "2024-10-15", "Tester", "A", 3, "Active"),
    (9, "Ivy", "Marketing", 5800, "Japan", "2024-10-17", "Executive", "A", 4, "Active"),
    (10, "Jack", "HR", 9000, "Australia", "2024-10-19", "Manager", "B", 6, "Inactive"),
    (11, "Kim", "Finance", 6100, "USA", "2024-10-21", "Analyst", "B", 3, "Active"),
    (12, "Liam", "IT", 8100, "Canada", "2024-10-23", "Developer", "A", 7, "Inactive"),
    (13, "Mia", "Marketing", 6700, "UK", "2024-10-25", "Executive", "B", 4, "Active"),
    (14, "Noah", "HR", 5600, "France", "2024-10-27", "Recruiter", "A", 2, "Inactive"),
    (15, "Olivia", "Finance", 5800, "Germany", "2024-10-29", "Analyst", "A", 3, "Active")
]

# Create DataFrame
df = spark.createDataFrame(data, ["id", "name", "department", "salary", "country", "hire_date", "role", "grade", "years_experience", "status"])
df.cache()
# Create a Temporary View for Spark SQL
df.createOrReplaceTempView("employees")

# Show the original DataFrame
df.show(truncate=False)

+---+-------+----------+------+---------+----------+---------+-----+----------------+--------+
|id |name   |department|salary|country  |hire_date |role     |grade|years_experience|status  |
+---+-------+----------+------+---------+----------+---------+-----+----------------+--------+
|1  |Alice  |HR        |5000  |USA      |2024-10-01|Manager  |A    |5               |Active  |
|2  |Bob    |Finance   |6000  |Canada   |2024-10-03|Analyst  |B    |3               |Active  |
|3  |Charlie|IT        |7000  |UK       |2024-10-05|Developer|A    |7               |Inactive|
|4  |David  |HR        |5500  |USA      |2024-10-07|Recruiter|B    |2               |Active  |
|5  |Eva    |Marketing |6500  |Germany  |2024-10-09|Executive|A    |4               |Inactive|
|6  |Frank  |IT        |8000  |France   |2024-10-11|Developer|A    |6               |Active  |
|7  |Grace  |Finance   |7500  |USA      |2024-10-13|Analyst  |B    |5               |Inactive|
|8  |Henry  |IT        |7200  |India    |2024-10-15|Tester   |A    |3               |Active  |
|9  |Ivy    |Marketing |5800  |Japan    |2024-10-17|Executive|A    |4               |Active  |
|10 |Jack   |HR        |9000  |Australia|2024-10-19|Manager  |B    |6               |Inactive|
|11 |Kim    |Finance   |6100  |USA      |2024-10-21|Analyst  |B    |3               |Active  |
|12 |Liam   |IT        |8100  |Canada   |2024-10-23|Developer|A    |7               |Inactive|
|13 |Mia    |Marketing |6700  |UK       |2024-10-25|Executive|B    |4               |Active  |
|14 |Noah   |HR        |5600  |France   |2024-10-27|Recruiter|A    |2               |Inactive|
|15 |Olivia |Finance   |5800  |Germany  |2024-10-29|Analyst  |A    |3               |Active  |
+---+-------+----------+------+---------+----------+---------+-----+----------------+--------+

In [3]:
from pyspark.sql.functions import col

# Define the dynamic filter values
countries_list = ["USA", "Canada", "Germany"]

# Use `isin` to filter DataFrame based on the list
df_filtered = df.filter(col("country").isin(countries_list))

# Show the filtered DataFrame
df_filtered.show(truncate=False)

+---+------+----------+------+-------+----------+---------+-----+----------------+--------+
|id |name  |department|salary|country|hire_date |role     |grade|years_experience|status  |
+---+------+----------+------+-------+----------+---------+-----+----------------+--------+
|1  |Alice |HR        |5000  |USA    |2024-10-01|Manager  |A    |5               |Active  |
|2  |Bob   |Finance   |6000  |Canada |2024-10-03|Analyst  |B    |3               |Active  |
|4  |David |HR        |5500  |USA    |2024-10-07|Recruiter|B    |2               |Active  |
|5  |Eva   |Marketing |6500  |Germany|2024-10-09|Executive|A    |4               |Inactive|
|7  |Grace |Finance   |7500  |USA    |2024-10-13|Analyst  |B    |5               |Inactive|
|11 |Kim   |Finance   |6100  |USA    |2024-10-21|Analyst  |B    |3               |Active  |
|12 |Liam  |IT        |8100  |Canada |2024-10-23|Developer|A    |7               |Inactive|
|15 |Olivia|Finance   |5800  |Germany|2024-10-29|Analyst  |A    |3               |Active  |
+---+------+----------+------+-------+----------+---------+-----+----------------+--------+

In [4]:
# Define the countries you want to filter dynamically
countries_list = ["USA", "Canada", "Germany"]

# Convert list to a comma-separated string
countries_str = "'" + "','".join(countries_list) + "'"

# Dynamically build the SQL query
query = f"""
SELECT *
FROM employees
WHERE country IN ({countries_str})
"""

# Execute the SQL query
result = spark.sql(query)
result.show(truncate=False)

+---+------+----------+------+-------+----------+---------+-----+----------------+--------+
|id |name  |department|salary|country|hire_date |role     |grade|years_experience|status  |
+---+------+----------+------+-------+----------+---------+-----+----------------+--------+
|1  |Alice |HR        |5000  |USA    |2024-10-01|Manager  |A    |5               |Active  |
|2  |Bob   |Finance   |6000  |Canada |2024-10-03|Analyst  |B    |3               |Active  |
|4  |David |HR        |5500  |USA    |2024-10-07|Recruiter|B    |2               |Active  |
|5  |Eva   |Marketing |6500  |Germany|2024-10-09|Executive|A    |4               |Inactive|
|7  |Grace |Finance   |7500  |USA    |2024-10-13|Analyst  |B    |5               |Inactive|
|11 |Kim   |Finance   |6100  |USA    |2024-10-21|Analyst  |B    |3               |Active  |
|12 |Liam  |IT        |8100  |Canada |2024-10-23|Developer|A    |7               |Inactive|
|15 |Olivia|Finance   |5800  |Germany|2024-10-29|Analyst  |A    |3               |Active  |
+---+------+----------+------+-------+----------+---------+-----+----------------+--------+

In [5]:
res2 = spark.sql(""" 
WITH country_list AS (
    SELECT explode(split('USA,Canada,Germany', ',')) AS country
)
SELECT *
FROM employees
WHERE country IN (SELECT country FROM country_list);
               
                 
                 """)

res2.show()

+---+------+----------+------+-------+----------+---------+-----+----------------+--------+
| id|  name|department|salary|country| hire_date|     role|grade|years_experience|  status|
+---+------+----------+------+-------+----------+---------+-----+----------------+--------+
|  1| Alice|        HR|  5000|    USA|2024-10-01|  Manager|    A|               5|  Active|
|  2|   Bob|   Finance|  6000| Canada|2024-10-03|  Analyst|    B|               3|  Active|
|  4| David|        HR|  5500|    USA|2024-10-07|Recruiter|    B|               2|  Active|
|  5|   Eva| Marketing|  6500|Germany|2024-10-09|Executive|    A|               4|Inactive|
|  7| Grace|   Finance|  7500|    USA|2024-10-13|  Analyst|    B|               5|Inactive|
| 11|   Kim|   Finance|  6100|    USA|2024-10-21|  Analyst|    B|               3|  Active|
| 12|  Liam|        IT|  8100| Canada|2024-10-23|Developer|    A|               7|Inactive|
| 15|Olivia|   Finance|  5800|Germany|2024-10-29|  Analyst|    A|               3|  Active|
+---+------+----------+------+-------+----------+---------+-----+----------------+--------+

In [6]:
from pyspark.sql.functions import split, explode

# Create DataFrame from a comma-separated string
countries_str = "USA,Canada,Germany"
countries_df = spark.createDataFrame([(countries_str,)], ["country_list"])

countries_df.show()

# Use split and explode to convert string to rows
split_countries = countries_df.select(explode(split(col("country_list"), ",")).alias("country"))

# Join with the original DataFrame to get matching records
df_joined = df.join(split_countries, df.country == split_countries.country, "inner")

# Show the result
df_joined.show(truncate=False)

+------------------+
|      country_list|
+------------------+
|USA,Canada,Germany|
+------------------+

+---+------+----------+------+-------+----------+---------+-----+----------------+--------+-------+
|id |name  |department|salary|country|hire_date |role     |grade|years_experience|status  |country|
+---+------+----------+------+-------+----------+---------+-----+----------------+--------+-------+
|11 |Kim   |Finance   |6100  |USA    |2024-10-21|Analyst  |B    |3               |Active  |USA    |
|7  |Grace |Finance   |7500  |USA    |2024-10-13|Analyst  |B    |5               |Inactive|USA    |
|4  |David |HR        |5500  |USA    |2024-10-07|Recruiter|B    |2               |Active  |USA    |
|1  |Alice |HR        |5000  |USA    |2024-10-01|Manager  |A    |5               |Active  |USA    |
|12 |Liam  |IT        |8100  |Canada |2024-10-23|Developer|A    |7               |Inactive|Canada |
|2  |Bob   |Finance   |6000  |Canada |2024-10-03|Analyst  |B    |3               |Active  |Canada |
|15 |Olivia|Finance   |5800  |Germany|2024-10-29|Analyst  |A    |3               |Active  |Germany|
|5  |Eva   |Marketing |6500  |Germany|2024-10-09|Executive|A    |4               |Inactive|Germany|
+---+------+----------+------+-------+----------+---------+-----+----------------+--------+-------+