# find employees retiring at the end of the month

In [1]:
import os
os.getcwd()
os.chdir("H:\pyspark_advanced-coding_interview")
os.getcwd()

'H:\\pyspark_advanced-coding_interview'

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType
from datetime import datetime

# Initialize Spark Session
spark = SparkSession.builder.appName("EmployeesRetiringEndOfMonth").getOrCreate()

# Define schema using StructType and StructField
schema = StructType([
    StructField("EmployeeID", IntegerType(), True),
    StructField("EmployeeName", StringType(), True),
    StructField("Department", StringType(), True),
    StructField("RetirementDate", DateType(), True)
])

# Sample data (EmployeeID, EmployeeName, Department, RetirementDate)
data = [
    (1, "Alice", "HR", datetime.strptime("2024-10-31", "%Y-%m-%d").date()),
    (2, "Bob", "IT", datetime.strptime("2024-10-15", "%Y-%m-%d").date()),
    (3, "Charlie", "Finance", datetime.strptime("2024-11-30", "%Y-%m-%d").date()),
    (4, "David", "HR", datetime.strptime("2024-10-31", "%Y-%m-%d").date()),
    (5, "Eve", "IT", datetime.strptime("2024-12-31", "%Y-%m-%d").date()),
    (6, "Frank", "Finance", datetime.strptime("2024-11-15", "%Y-%m-%d").date()),
    (7, "Grace", "Sales", datetime.strptime("2024-10-31", "%Y-%m-%d").date()),
    (8, "Heidi", "Marketing", datetime.strptime("2024-10-25", "%Y-%m-%d").date()),
    (9, "Ivan", "IT", datetime.strptime("2024-12-31", "%Y-%m-%d").date()),
    (10, "Judy", "Sales", datetime.strptime("2024-10-31", "%Y-%m-%d").date()),
    (11, "Kevin", "Marketing", datetime.strptime("2024-11-30", "%Y-%m-%d").date()),
    (12, "Laura", "Finance", datetime.strptime("2024-12-25", "%Y-%m-%d").date()),
    (13, "Mallory", "HR", datetime.strptime("2024-10-31", "%Y-%m-%d").date()),
    (14, "Niaj", "IT", datetime.strptime("2024-10-30", "%Y-%m-%d").date()),
    (15, "Oscar", "Sales", datetime.strptime("2024-11-30", "%Y-%m-%d").date())
]

# Create DataFrame
df = spark.createDataFrame(data, schema)
df.show()

+----------+------------+----------+--------------+
|EmployeeID|EmployeeName|Department|RetirementDate|
+----------+------------+----------+--------------+
|         1|       Alice|        HR|    2024-10-31|
|         2|         Bob|        IT|    2024-10-15|
|         3|     Charlie|   Finance|    2024-11-30|
|         4|       David|        HR|    2024-10-31|
|         5|         Eve|        IT|    2024-12-31|
|         6|       Frank|   Finance|    2024-11-15|
|         7|       Grace|     Sales|    2024-10-31|
|         8|       Heidi| Marketing|    2024-10-25|
|         9|        Ivan|        IT|    2024-12-31|
|        10|        Judy|     Sales|    2024-10-31|
|        11|       Kevin| Marketing|    2024-11-30|
|        12|       Laura|   Finance|    2024-12-25|
|        13|     Mallory|        HR|    2024-10-31|
|        14|        Niaj|        IT|    2024-10-30|
|        15|       Oscar|     Sales|    2024-11-30|
+----------+------------+----------+--------------+

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType
from datetime import datetime

# Initialize Spark Session
spark = SparkSession.builder.appName("RetirementCalculation").getOrCreate()

# Define schema using StructType and StructField
schema = StructType([
    StructField("EmployeeID", IntegerType(), True),
    StructField("EmployeeName", StringType(), True),
    StructField("Department", StringType(), True),
    StructField("BirthDate", DateType(), True)
])

# Sample data (EmployeeID, EmployeeName, Department, BirthDate)
data = [
    (1, "Alice", "HR", datetime.strptime("1959-10-25", "%Y-%m-%d").date()),
    (2, "Bob", "IT", datetime.strptime("1958-11-15", "%Y-%m-%d").date()),
    (3, "Charlie", "Finance", datetime.strptime("1960-10-01", "%Y-%m-%d").date()),
    (4, "David", "IT", datetime.strptime("1958-10-30", "%Y-%m-%d").date()),
    (5, "Eve", "Marketing", datetime.strptime("1961-09-20", "%Y-%m-%d").date()),
    (6, "Frank", "HR", datetime.strptime("1959-11-28", "%Y-%m-%d").date()),
    (7, "Grace", "IT", datetime.strptime("1960-12-10", "%Y-%m-%d").date()),
    (8, "Heidi", "Finance", datetime.strptime("1958-11-05", "%Y-%m-%d").date()),
    (9, "Ivan", "Marketing", datetime.strptime("1959-10-25", "%Y-%m-%d").date()),
    (10, "Judy", "HR", datetime.strptime("1958-10-30", "%Y-%m-%d").date()),
    (11, "Kevin", "IT", datetime.strptime("1961-08-30", "%Y-%m-%d").date()),
    (12, "Laura", "Sales", datetime.strptime("1958-11-18", "%Y-%m-%d").date()),
    (13, "Mallory", "Sales", datetime.strptime("1960-12-21", "%Y-%m-%d").date()),
    (14, "Niaj", "Finance", datetime.strptime("1959-11-15", "%Y-%m-%d").date()),
    (15, "Oscar", "IT", datetime.strptime("1961-09-01", "%Y-%m-%d").date())
]

# Create DataFrame
df = spark.createDataFrame(data, schema)
df.show()

+----------+------------+----------+----------+
|EmployeeID|EmployeeName|Department| BirthDate|
+----------+------------+----------+----------+
|         1|       Alice|        HR|1959-10-25|
|         2|         Bob|        IT|1958-11-15|
|         3|     Charlie|   Finance|1960-10-01|
|         4|       David|        IT|1958-10-30|
|         5|         Eve| Marketing|1961-09-20|
|         6|       Frank|        HR|1959-11-28|
|         7|       Grace|        IT|1960-12-10|
|         8|       Heidi|   Finance|1958-11-05|
|         9|        Ivan| Marketing|1959-10-25|
|        10|        Judy|        HR|1958-10-30|
|        11|       Kevin|        IT|1961-08-30|
|        12|       Laura|     Sales|1958-11-18|
|        13|     Mallory|     Sales|1960-12-21|
|        14|        Niaj|   Finance|1959-11-15|
|        15|       Oscar|        IT|1961-09-01|
+----------+------------+----------+----------+

In [4]:
# Register the DataFrame as a temporary table
df.createOrReplaceTempView("Employees")

# Pyspark

In [8]:
from pyspark.sql.functions import year, month, dayofmonth

# Calculate Retirement Date
retirement_df = df.withColumn("RetirementDate", add_months(df["BirthDate"], 60 * 12))

# Extract year, month, and day of the last day of the current month
current_year = year(last_day(current_date()))
current_month = month(last_day(current_date()))
current_day = dayofmonth(last_day(current_date()))

# Find employees retiring at the end of the current month
retiring_employees_specific = retirement_df.filter(
    (year("RetirementDate") == current_year) & 
    (month("RetirementDate") == current_month) & 
    (dayofmonth("RetirementDate") == current_day)
)
retiring_employees_specific.show(truncate=False)

+----------+------------+----------+---------+--------------+
|EmployeeID|EmployeeName|Department|BirthDate|RetirementDate|
+----------+------------+----------+---------+--------------+
+----------+------------+----------+---------+--------------+

In [5]:
from pyspark.sql.functions import expr, add_months, last_day, current_date, date_format

# Add 65 years to BirthDate to get RetirementDate
retirement_df = df.withColumn("RetirementDate", add_months(df["BirthDate"], 65 * 12))

# Find employees retiring at the end of the current month
end_of_month = date_format(last_day(current_date()), "yyyy-MM-dd")
retiring_employees = retirement_df.filter(date_format("RetirementDate", "yyyy-MM-dd") == end_of_month)
retiring_employees.show(truncate=False)

+----------+------------+----------+---------+--------------+
|EmployeeID|EmployeeName|Department|BirthDate|RetirementDate|
+----------+------------+----------+---------+--------------+
+----------+------------+----------+---------+--------------+

# Spark SQL

In [6]:
# SQL Query to find employees retiring at the end of the month
sql_query = """
SELECT EmployeeID, EmployeeName, Department, BirthDate, 
       ADD_MONTHS(BirthDate, 65 * 12) AS RetirementDate
FROM Employees
WHERE DATE_FORMAT(ADD_MONTHS(BirthDate, 65 * 12), 'yyyy-MM-dd') = DATE_FORMAT(LAST_DAY(CURRENT_DATE()), 'yyyy-MM-dd')
"""

# Execute the query
retiring_employees_sql = spark.sql(sql_query)
retiring_employees_sql.show(truncate=False)

+----------+------------+----------+---------+--------------+
|EmployeeID|EmployeeName|Department|BirthDate|RetirementDate|
+----------+------------+----------+---------+--------------+
+----------+------------+----------+---------+--------------+

#  Python

In [16]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.1.2-cp311-cp311-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lpdda\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\lpdda\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ----------------- ---------------------- 5.0/11.6 MB 30.2 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 42.8 MB/s eta 0:00:00
Downloading numpy-2.1.2-cp311-cp311-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
   ---------------------------------------- 12.9/12.9 MB 80.3 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [17]:
import pandas as pd
from datetime import datetime

# Define sample data
data = {
    "EmployeeID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
    "EmployeeName": [
        "Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Heidi", 
        "Ivan", "Judy", "Kevin", "Laura", "Mallory", "Niaj", "Oscar"
    ],
    "Department": [
        "HR", "IT", "Finance", "IT", "Marketing", "HR", "IT", "Finance", 
        "Marketing", "HR", "IT", "Sales", "Sales", "Finance", "IT"
    ],
    "BirthDate": [
        "1959-10-25", "1958-11-15", "1960-10-01", "1958-10-30", "1961-09-20",
        "1959-11-28", "1960-12-10", "1958-11-05", "1959-10-25", "1958-10-30",
        "1961-08-30", "1958-11-18", "1960-12-21", "1959-11-15", "1961-09-01"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)
df["BirthDate"] = pd.to_datetime(df["BirthDate"])
df.head()

   EmployeeID EmployeeName Department  BirthDate
0           1        Alice         HR 1959-10-25
1           2          Bob         IT 1958-11-15
2           3      Charlie    Finance 1960-10-01
3           4        David         IT 1958-10-30
4           5          Eve  Marketing 1961-09-20

In [18]:
import calendar

# Add 65 years to calculate the RetirementDate
df["RetirementDate"] = df["BirthDate"] + pd.DateOffset(years=65)  # Adds 65 years to each BirthDate to determine RetirementDate

# Find the last day of the current month
today = datetime.now()
last_day_current_month = calendar.monthrange(today.year, today.month)[1]  #Fetches the last day of the current month
end_of_month = datetime(today.year, today.month, last_day_current_month)

# Filter employees whose RetirementDate is the end of the month
retiring_employees = df[df["RetirementDate"] == end_of_month]
print(retiring_employees)

Empty DataFrame
Columns: [EmployeeID, EmployeeName, Department, BirthDate, RetirementDate]
Index: []

In [19]:
# Calculate the last day of the retirement month and the current month
df["RetirementDate"] = df["BirthDate"] + pd.DateOffset(years=65)
df["RetirementMonthEnd"] = df["RetirementDate"].apply(lambda x: x.replace(day=calendar.monthrange(x.year, x.month)[1]))

# Compare with the end of the current month
retiring_employees_end_month = df[df["RetirementMonthEnd"] == end_of_month]
print(retiring_employees_end_month)

   EmployeeID EmployeeName Department  BirthDate RetirementDate  \
0           1        Alice         HR 1959-10-25     2024-10-25
8           9         Ivan  Marketing 1959-10-25     2024-10-25

  RetirementMonthEnd
0         2024-10-31
8         2024-10-31

In [20]:
# Calculate if RetirementDate is at the end of its month
df["IsEndOfMonth"] = df["RetirementDate"].apply(lambda x: x == x.replace(day=calendar.monthrange(x.year, x.month)[1]))

# Identify employees retiring at the end of their retirement month that matches the current month
retire_end_of_current_month = df[(df["IsEndOfMonth"]) & (df["RetirementDate"].dt.month == today.month) & (df["RetirementDate"].dt.year == today.year)]
print(retire_end_of_current_month)

Empty DataFrame
Columns: [EmployeeID, EmployeeName, Department, BirthDate, RetirementDate, RetirementMonthEnd, IsEndOfMonth]
Index: []