In [1]:
import os
os.getcwd()
os.chdir("H:\pyspark_advanced-coding_interview")
os.getcwd()

'H:\\pyspark_advanced-coding_interview'

# pad zeroes to a number

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lpad

# Initialize Spark Session
spark = SparkSession.builder.appName("PadZerosExample").getOrCreate()

# Sample Data: Number values to pad
data = [
    (1, 5),
    (2, 12),
    (3, 123),
    (4, 4567),
    (5, 890)
]

# Create DataFrame
df = spark.createDataFrame(data, ["id", "number"])

# Create a Temporary View for Spark SQL
df.createOrReplaceTempView("numbers")

# Show the original DataFrame
df.show()

+---+------+
| id|number|
+---+------+
|  1|     5|
|  2|    12|
|  3|   123|
|  4|  4567|
|  5|   890|
+---+------+

In [3]:

# The total length of the resulting string (5 in this case).The character to pad with ('0').

res = spark.sql(""" 
                
 SELECT id, number, lpad(number, 5, '0') AS padded_number
FROM numbers;
               
                """)

res.show()

+---+------+-------------+
| id|number|padded_number|
+---+------+-------------+
|  1|     5|        00005|
|  2|    12|        00012|
|  3|   123|        00123|
|  4|  4567|        04567|
|  5|   890|        00890|
+---+------+-------------+

In [4]:
# Use lpad function to pad zeros to the 'number' column
df_padded = df.withColumn("padded_number", lpad("number", 5, "0"))

# Show the result
df_padded.show()

+---+------+-------------+
| id|number|padded_number|
+---+------+-------------+
|  1|     5|        00005|
|  2|    12|        00012|
|  3|   123|        00123|
|  4|  4567|        04567|
|  5|   890|        00890|
+---+------+-------------+

In [5]:
from pyspark.sql.functions import expr

# Using expr to pad zeros with format function
df_padded_expr = df.withColumn("padded_number", expr("format_string('%05d', number)"))

# Show the result
df_padded_expr.show()

+---+------+-------------+
| id|number|padded_number|
+---+------+-------------+
|  1|     5|        00005|
|  2|    12|        00012|
|  3|   123|        00123|
|  4|  4567|        04567|
|  5|   890|        00890|
+---+------+-------------+