In [1]:
import os
os.getcwd()
os.chdir("H:\pyspark_advanced-coding_interview")
os.getcwd()

'H:\\pyspark_advanced-coding_interview'

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType

# Initialize Spark Session
spark = SparkSession.builder.appName("UnpivotExample").getOrCreate()

# Define schema using StructType and StructField
schema = StructType([
    StructField("ProductID", IntegerType(), True),
    StructField("ProductName", StringType(), True),
    StructField("January", DoubleType(), True),
    StructField("February", DoubleType(), True),
    StructField("March", DoubleType(), True),
    StructField("April", DoubleType(), True)
])

# Sample data (ProductID, ProductName, January, February, March, April)
data = [
    (1, "Product A", 1000.0, 1100.0, 1200.0, 1300.0),
    (2, "Product B", 1500.0, 1600.0, 1700.0, 1800.0),
    (3, "Product C", 2000.0, 2100.0, 2200.0, 2300.0),
    (4, "Product D", 2500.0, 2600.0, 2700.0, 2800.0),
    (5, "Product E", 3000.0, 3100.0, 3200.0, 3300.0),
    (6, "Product F", 3500.0, 3600.0, 3700.0, 3800.0),
    (7, "Product G", 4000.0, 4100.0, 4200.0, 4300.0),
    (8, "Product H", 4500.0, 4600.0, 4700.0, 4800.0),
    (9, "Product I", 5000.0, 5100.0, 5200.0, 5300.0),
    (10, "Product J", 5500.0, 5600.0, 5700.0, 5800.0),
    (11, "Product K", 6000.0, 6100.0, 6200.0, 6300.0),
    (12, "Product L", 6500.0, 6600.0, 6700.0, 6800.0),
    (13, "Product M", 7000.0, 7100.0, 7200.0, 7300.0),
    (14, "Product N", 7500.0, 7600.0, 7700.0, 7800.0),
    (15, "Product O", 8000.0, 8100.0, 8200.0, 8300.0)
]

# Create DataFrame
df = spark.createDataFrame(data, schema)
df.cache()
df.show()

+---------+-----------+-------+--------+------+------+
|ProductID|ProductName|January|February| March| April|
+---------+-----------+-------+--------+------+------+
|        1|  Product A| 1000.0|  1100.0|1200.0|1300.0|
|        2|  Product B| 1500.0|  1600.0|1700.0|1800.0|
|        3|  Product C| 2000.0|  2100.0|2200.0|2300.0|
|        4|  Product D| 2500.0|  2600.0|2700.0|2800.0|
|        5|  Product E| 3000.0|  3100.0|3200.0|3300.0|
|        6|  Product F| 3500.0|  3600.0|3700.0|3800.0|
|        7|  Product G| 4000.0|  4100.0|4200.0|4300.0|
|        8|  Product H| 4500.0|  4600.0|4700.0|4800.0|
|        9|  Product I| 5000.0|  5100.0|5200.0|5300.0|
|       10|  Product J| 5500.0|  5600.0|5700.0|5800.0|
|       11|  Product K| 6000.0|  6100.0|6200.0|6300.0|
|       12|  Product L| 6500.0|  6600.0|6700.0|6800.0|
|       13|  Product M| 7000.0|  7100.0|7200.0|7300.0|
|       14|  Product N| 7500.0|  7600.0|7700.0|7800.0|
|       15|  Product O| 8000.0|  8100.0|8200.0|8300.0|
+---------+-----------+-------+--------+------+------+

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 55637)
Traceback (most recent call last):
  File "c:\Users\lpdda\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "c:\Users\lpdda\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "c:\Users\lpdda\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "c:\Users\lpdda\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 755, in __init__
    self.handle()
  File "C:\spark\python\pyspark\accumulators.py", line 281, in handle
    poll(accum_updates)
  File "C:\spark\python\pyspark\accumulators.py", line 253, in poll
    if func():
       ^^^^^^
  File "C:\spark\python\pyspark\accumulators.py", line 257, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "C:\spark\python\pyspark\serializers.py", line 594, in read_int
    length = stream.read(4)
             ^^^^^^^^^^^^^^
  File "c:\Users\lpdda\AppData\Local\Programs\Python\Python311\Lib\socket.py", line 706, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
----------------------------------------

# Spark SQL

In [10]:
query3 = spark.sql("""
SELECT ProductID, ProductName, 'January' AS Month, January AS Sales FROM SalesData
UNION ALL
SELECT ProductID, ProductName, 'February' AS Month, February AS Sales FROM SalesData
UNION ALL
SELECT ProductID, ProductName, 'March' AS Month, March AS Sales FROM SalesData
UNION ALL
SELECT ProductID, ProductName, 'April' AS Month, April AS Sales FROM SalesData

                   """)
query3.show()

+---------+-----------+--------+------+
|ProductID|ProductName|   Month| Sales|
+---------+-----------+--------+------+
|        1|  Product A| January|1000.0|
|        2|  Product B| January|1500.0|
|        3|  Product C| January|2000.0|
|        4|  Product D| January|2500.0|
|        5|  Product E| January|3000.0|
|        6|  Product F| January|3500.0|
|        7|  Product G| January|4000.0|
|        8|  Product H| January|4500.0|
|        9|  Product I| January|5000.0|
|       10|  Product J| January|5500.0|
|       11|  Product K| January|6000.0|
|       12|  Product L| January|6500.0|
|       13|  Product M| January|7000.0|
|       14|  Product N| January|7500.0|
|       15|  Product O| January|8000.0|
|        1|  Product A|February|1100.0|
|        2|  Product B|February|1600.0|
|        3|  Product C|February|2100.0|
|        4|  Product D|February|2600.0|
|        5|  Product E|February|3100.0|
+---------+-----------+--------+------+
only showing top 20 rows

In [17]:
# Register the DataFrame as a temporary table
df.createOrReplaceTempView("SalesData")

query = spark.sql("""  
SELECT ProductID, ProductName, 
       stack(4, 'January', January, 'February', February, 'March', March, 'April', April) AS (Month, Sales)
FROM SalesData
 """)

query.show()

+---------+-----------+--------+------+
|ProductID|ProductName|   Month| Sales|
+---------+-----------+--------+------+
|        1|  Product A| January|1000.0|
|        1|  Product A|February|1100.0|
|        1|  Product A|   March|1200.0|
|        1|  Product A|   April|1300.0|
|        2|  Product B| January|1500.0|
|        2|  Product B|February|1600.0|
|        2|  Product B|   March|1700.0|
|        2|  Product B|   April|1800.0|
|        3|  Product C| January|2000.0|
|        3|  Product C|February|2100.0|
|        3|  Product C|   March|2200.0|
|        3|  Product C|   April|2300.0|
|        4|  Product D| January|2500.0|
|        4|  Product D|February|2600.0|
|        4|  Product D|   March|2700.0|
|        4|  Product D|   April|2800.0|
|        5|  Product E| January|3000.0|
|        5|  Product E|February|3100.0|
|        5|  Product E|   March|3200.0|
|        5|  Product E|   April|3300.0|
+---------+-----------+--------+------+
only showing top 20 rows

In [22]:
query5 = spark.sql(""" 
SELECT ProductID, ProductName, exploded.Month, exploded.Sales
FROM SalesData
LATERAL VIEW EXPLODE(
    ARRAY(
        STRUCT('January' AS Month, January AS Sales),
        STRUCT('February' AS Month, February AS Sales),
        STRUCT('March' AS Month, March AS Sales),
        STRUCT('April' AS Month, April AS Sales)
    )
) AS exploded


    """)
query5.show()

+---------+-----------+--------+------+
|ProductID|ProductName|   Month| Sales|
+---------+-----------+--------+------+
|        1|  Product A| January|1000.0|
|        1|  Product A|February|1100.0|
|        1|  Product A|   March|1200.0|
|        1|  Product A|   April|1300.0|
|        2|  Product B| January|1500.0|
|        2|  Product B|February|1600.0|
|        2|  Product B|   March|1700.0|
|        2|  Product B|   April|1800.0|
|        3|  Product C| January|2000.0|
|        3|  Product C|February|2100.0|
|        3|  Product C|   March|2200.0|
|        3|  Product C|   April|2300.0|
|        4|  Product D| January|2500.0|
|        4|  Product D|February|2600.0|
|        4|  Product D|   March|2700.0|
|        4|  Product D|   April|2800.0|
|        5|  Product E| January|3000.0|
|        5|  Product E|February|3100.0|
|        5|  Product E|   March|3200.0|
|        5|  Product E|   April|3300.0|
+---------+-----------+--------+------+
only showing top 20 rows

In [23]:
query7 = spark.sql("""       
SELECT ProductID, ProductName, 'January' AS Month, CASE WHEN January IS NOT NULL THEN January ELSE NULL END AS Sales FROM SalesData
UNION ALL
SELECT ProductID, ProductName, 'February' AS Month, CASE WHEN February IS NOT NULL THEN February ELSE NULL END AS Sales FROM SalesData
UNION ALL
SELECT ProductID, ProductName, 'March' AS Month, CASE WHEN March IS NOT NULL THEN March ELSE NULL END AS Sales FROM SalesData
UNION ALL
SELECT ProductID, ProductName, 'April' AS Month, CASE WHEN April IS NOT NULL THEN April ELSE NULL END AS Sales FROM SalesData
                
                   """)
query7.show()

+---------+-----------+--------+------+
|ProductID|ProductName|   Month| Sales|
+---------+-----------+--------+------+
|        1|  Product A| January|1000.0|
|        2|  Product B| January|1500.0|
|        3|  Product C| January|2000.0|
|        4|  Product D| January|2500.0|
|        5|  Product E| January|3000.0|
|        6|  Product F| January|3500.0|
|        7|  Product G| January|4000.0|
|        8|  Product H| January|4500.0|
|        9|  Product I| January|5000.0|
|       10|  Product J| January|5500.0|
|       11|  Product K| January|6000.0|
|       12|  Product L| January|6500.0|
|       13|  Product M| January|7000.0|
|       14|  Product N| January|7500.0|
|       15|  Product O| January|8000.0|
|        1|  Product A|February|1100.0|
|        2|  Product B|February|1600.0|
|        3|  Product C|February|2100.0|
|        4|  Product D|February|2600.0|
|        5|  Product E|February|3100.0|
+---------+-----------+--------+------+
only showing top 20 rows

In [5]:
#Unpivot |Convert data from columns into Rows

query1 = spark.sql("""
SELECT ProductID, ProductName, 
       CASE WHEN month = 'January' THEN January
            WHEN month = 'February' THEN February
            WHEN month = 'March' THEN March
            WHEN month = 'April' THEN April END AS Sales,
       month
FROM SalesData 
LATERAL VIEW EXPLODE(array('January', 'February', 'March', 'April')) AS month
""")

query1.show()

+---------+-----------+------+--------+
|ProductID|ProductName| Sales|   month|
+---------+-----------+------+--------+
|        1|  Product A|1000.0| January|
|        1|  Product A|1100.0|February|
|        1|  Product A|1200.0|   March|
|        1|  Product A|1300.0|   April|
|        2|  Product B|1500.0| January|
|        2|  Product B|1600.0|February|
|        2|  Product B|1700.0|   March|
|        2|  Product B|1800.0|   April|
|        3|  Product C|2000.0| January|
|        3|  Product C|2100.0|February|
|        3|  Product C|2200.0|   March|
|        3|  Product C|2300.0|   April|
|        4|  Product D|2500.0| January|
|        4|  Product D|2600.0|February|
|        4|  Product D|2700.0|   March|
|        4|  Product D|2800.0|   April|
|        5|  Product E|3000.0| January|
|        5|  Product E|3100.0|February|
|        5|  Product E|3200.0|   March|
|        5|  Product E|3300.0|   April|
+---------+-----------+------+--------+
only showing top 20 rows

# Pyspark

In [6]:
# Unpivot the DataFrame using selectExpr and stack
unpivot_df = df.selectExpr("ProductID", "ProductName", 
                           "stack(4, 'January', January, 'February', February, 'March', March, 'April', April) as (Month, Sales)")

# Show the unpivoted data
unpivot_df.show()

+---------+-----------+--------+------+
|ProductID|ProductName|   Month| Sales|
+---------+-----------+--------+------+
|        1|  Product A| January|1000.0|
|        1|  Product A|February|1100.0|
|        1|  Product A|   March|1200.0|
|        1|  Product A|   April|1300.0|
|        2|  Product B| January|1500.0|
|        2|  Product B|February|1600.0|
|        2|  Product B|   March|1700.0|
|        2|  Product B|   April|1800.0|
|        3|  Product C| January|2000.0|
|        3|  Product C|February|2100.0|
|        3|  Product C|   March|2200.0|
|        3|  Product C|   April|2300.0|
|        4|  Product D| January|2500.0|
|        4|  Product D|February|2600.0|
|        4|  Product D|   March|2700.0|
|        4|  Product D|   April|2800.0|
|        5|  Product E| January|3000.0|
|        5|  Product E|February|3100.0|
|        5|  Product E|   March|3200.0|
|        5|  Product E|   April|3300.0|
+---------+-----------+--------+------+
only showing top 20 rows

In [8]:
from pyspark.sql.functions import lit,col


# Convert columns to rows by unioning individual selects
january = df.select("ProductID", "ProductName", lit("January").alias("Month"), col("January").alias("Sales"))
february = df.select("ProductID", "ProductName", lit("February").alias("Month"), col("February").alias("Sales"))
march = df.select("ProductID", "ProductName", lit("March").alias("Month"), col("March").alias("Sales"))
april = df.select("ProductID", "ProductName", lit("April").alias("Month"), col("April").alias("Sales"))

# Combine all DataFrames using union
unpivot_union_df = january.union(february).union(march).union(april)
unpivot_union_df.show()

+---------+-----------+--------+------+
|ProductID|ProductName|   Month| Sales|
+---------+-----------+--------+------+
|        1|  Product A| January|1000.0|
|        2|  Product B| January|1500.0|
|        3|  Product C| January|2000.0|
|        4|  Product D| January|2500.0|
|        5|  Product E| January|3000.0|
|        6|  Product F| January|3500.0|
|        7|  Product G| January|4000.0|
|        8|  Product H| January|4500.0|
|        9|  Product I| January|5000.0|
|       10|  Product J| January|5500.0|
|       11|  Product K| January|6000.0|
|       12|  Product L| January|6500.0|
|       13|  Product M| January|7000.0|
|       14|  Product N| January|7500.0|
|       15|  Product O| January|8000.0|
|        1|  Product A|February|1100.0|
|        2|  Product B|February|1600.0|
|        3|  Product C|February|2100.0|
|        4|  Product D|February|2600.0|
|        5|  Product E|February|3100.0|
+---------+-----------+--------+------+
only showing top 20 rows

In [9]:
from pyspark.sql.functions import array, struct, explode

# Create an array of structs where each struct represents a (month, sales) pair
df_with_array = df.withColumn("Months", 
                              array(struct(lit("January").alias("Month"), col("January").alias("Sales")),
                                    struct(lit("February").alias("Month"), col("February").alias("Sales")),
                                    struct(lit("March").alias("Month"), col("March").alias("Sales")),
                                    struct(lit("April").alias("Month"), col("April").alias("Sales"))
                                   ))

# Explode the array to convert columns into rows
unpivot_explode_df = df_with_array.select("ProductID", "ProductName", explode("Months").alias("MonthSales"))
unpivot_explode_df = unpivot_explode_df.select("ProductID", "ProductName", col("MonthSales.Month"), col("MonthSales.Sales"))

# Show the unpivoted data
unpivot_explode_df.show()

+---------+-----------+--------+------+
|ProductID|ProductName|   Month| Sales|
+---------+-----------+--------+------+
|        1|  Product A| January|1000.0|
|        1|  Product A|February|1100.0|
|        1|  Product A|   March|1200.0|
|        1|  Product A|   April|1300.0|
|        2|  Product B| January|1500.0|
|        2|  Product B|February|1600.0|
|        2|  Product B|   March|1700.0|
|        2|  Product B|   April|1800.0|
|        3|  Product C| January|2000.0|
|        3|  Product C|February|2100.0|
|        3|  Product C|   March|2200.0|
|        3|  Product C|   April|2300.0|
|        4|  Product D| January|2500.0|
|        4|  Product D|February|2600.0|
|        4|  Product D|   March|2700.0|
|        4|  Product D|   April|2800.0|
|        5|  Product E| January|3000.0|
|        5|  Product E|February|3100.0|
|        5|  Product E|   March|3200.0|
|        5|  Product E|   April|3300.0|
+---------+-----------+--------+------+
only showing top 20 rows